JWT_SECRET=0123456789
JWT_ISSUER=http://localhost:8080/
JWT_AUDIENCE=mobile-app
JWT_REALM=route-planner-api
JWT_CLAIM_FIELD=sub

DATABASE_URL="jdbc:sqlserver://localhost:1433;databaseName=route_planner_db;encrypt=true;trustServerCertificate=true"
DATABASE_DRIVER=com.microsoft.sqlserver.jdbc.SQLServerDriver
DATABASE_USER=sa
DATABASE_PASSWORD=pass